
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>LA DOT District Execute Dashboard</title>
    
        <!-- CSS: Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- CSS: Application -->
        <link rel="stylesheet" href="static/css/styles.css">
        <link rel="stylesheet" href="static/css/d3Style.css">


        <!-- CSS: Mapbox -->
        <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css' rel='stylesheet' />
    
    </head>
    <body>
        

        <!-- Image and text -->
        <nav class="navbar navbar-dark bg-primary">
            <a class="navbar-brand" href="#">
            <img src="static/image/logo-ladot-pmb.png" width="30" height="30" class="d-inline-block align-top" alt="">
            LA DOT Execute Dashboard
            </a>
        </nav>

        <div class="container">
    
            <!-- Row: Filter -->
            <div class="row pt-1">

                <!-- Column: District Filter -->
                <div  class="col-10">
                    <div id="districtFilter">
                    
                    </div>
                </div>

                <!-- Column: Year Filter -->
                <div class="col-2">
                    <div id="yearFilter">
                    </div>
                </div>
            </div>
        
    
            <!-- Row: Charts -->
            <div class="row pt-4">
    
                <!-- Column: Day Of Week Chart -->
                <div class="col-6">
                    <div class="text-center font-weight-bold">Citations by Day Of Week</div>

                    <div id="dowChart">
                        
                    </div>
                </div>
    
                <!-- Column: Time of Day Chart -->
                <div class="col-6">
                     <div class="text-center font-weight-bold">Citations by Time of Day</div>

                    <div id="timeChart">
                    </div>
                </div>
    
            </div>
    
    
            <!-- Row: Map -->
            <div class="row pt-2">
    
                <!-- Column: Map -->
                <div class="col-8">

                    <div class="text-center font-weight-bold">Top 100 Citations Meters</div>
                    <div id="map">
                    </div>
                </div>
    
                <!-- Column: Metadata -->
                <div class="col-4">
                    <div id="selectedMeterMetadata">
                        <div class="text-center font-weight-bold pt-2">Selected Meter Information</div>
                        <table class="table table-borderless table-sm">
                            <tbody>
                                <tr>
                                    <td class="meterMetadataLabelText">Meter ID</td>
                                    <td class="meterMetadataValueText" id="meterMetadataTableID"></td>
                                </tr>
                                <tr>
                                    <td class="meterMetadataLabelText">Location</td>
                                    <td class="meterMetadataValueText" id="meterMetadataTableLocation"></td>
                                </tr>
                                <tr>
                                    <td class="meterMetadataLabelText">Count</td>
                                    <td class="meterMetadataValueText" id="meterMetadataTableCitation"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="mapMetadata">                       
                    </div>
                </div>
            </div>

        </div>
     
    
        <!-- JS: D3 -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
    
        <!-- JS: Bootstrap -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>       
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        
        <!-- JS: Mapbox-->
        <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js'></script>
        
        <!-- JS: D3.Tip-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>

        <!-- JS: Application -->
        <script type="text/javascript" src="static/js/helper.js"></script>
        <script type="text/javascript" src="static/js/config.js"></script>
        <script type="text/javascript" src="static/js/districtmap.js"></script>
        <script type="text/javascript" src="static/js/districtfilter.js"></script>
        <script type="text/javascript" src="static/js/timedaychart.js"></script>
        <script type="text/javascript" src="static/js/dowchart.js"></script>
        <script type="text/javascript" src="static/js/mock.js"></script>
        <script type="text/javascript" src="static/js/yearfilter.js"></script>
        <script type="text/javascript" src="static/js/metermetadata.js"></script>
        <script type="text/javascript" src="static/js/app.js"></script>
    
    </body>
    </html>