

/*  District Filter: Rectangle */
.districtFilterRectangle {
    /* fill: none; */
    opacity: 0.5;
    stroke: grey;
    stroke-width: 3;
    pointer-events: all;
}

.districtFilterRectangleMouseOver {
    fill: rgba(131, 199, 211, 0.342);
    stroke: black;
    stroke-width: 3;
    pointer-events: all;
}

.districtFilterRectangleSelected {
    /* fill: rgba(91, 174, 230, 0.87); */
    stroke: rgb(64, 218, 230);
    stroke-width: 9;
    pointer-events: all;
}


/* District Filter: Label Text
Text used with the name of the district */
.districtFilterLabelText {
    font-family: sans-serif;
    font-size: 15px;
    fill: black;
    pointer-events: none;
}


/* District Filter: Count Text
Text used with the count of citations within the district */
.districtFilterCountText {
    font-family: sans-serif;
    font-size: 22px;
    pointer-events: none;
    fill: black;
}


/* Year Filter: Rectangle */
.yearFilterRectangle {
    fill: none;
    stroke: black;
    stroke-width: 3;
    pointer-events: all;
}

.yearFilterRectangleMouseOver {
    fill: rgba(131, 199, 211, 0.342);
    stroke: black;
    stroke-width: 3;
    pointer-events: all;
}

.yearFilterRectangleSelected {
    fill: rgba(250, 252, 253, 0.87);
    stroke: rgb(64, 218, 230);;
    stroke-width: 9;
    pointer-events: all;
}


/* Year Filter: Label Text
Text used with the year */
.yearFilterLabelText {
    font-family: sans-serif;
    font-size: 18px;
    pointer-events: none;
    fill: black;
}


/* Meter Chart */
.meterBar{
    fill: orange;
}

.meterBar:hover {
    fill: green;
}

.meterText{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    pointer-events: none;
    fill: black;
}

.meterAxisText{
    font-family: sans-serif;
    font-size: 12px;
    font-weight: normal;
    pointer-events: none;
    fill: black;
}

.meterMetadataLabelText{
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    pointer-events: none;
    fill: black;
}

.meterMetadataValueText{
    font-family: sans-serif;
    font-size: 12px;
    font-weight: normal;
    pointer-events: none;
    fill: black;
}


/* Charts */
.bar {
    fill: orange;
  }
  
  .bar:hover {
    fill: green;
  }


  /* Map */
  #map { position:relative; top:0; bottom:0; width:500px;height:500px; }
  