

/*  District Filter: Rectangle */
.districtFilterRectangle {
    fill: none;
    stroke: black;
    stroke-width: 3;
    pointer-events: all;
}

.districtFilterRectangleMouseOver {
    fill: rgba(131, 199, 211, 0.342);
    stroke: black;
    stroke-width: 3;
    pointer-events: all;
}

.districtFilterRectangleSelected {
    fill: rgba(91, 174, 230, 0.87);
    stroke: rgb(66, 68, 230);
    stroke-width: 7;
    pointer-events: all;
}


/* District Filter: Label Text
Text used with the name of the district */
.districtFilterLabelText {
    font-family: sans-serif;
    font-size: 15px;
    pointer-events: none;
}


/* District Filter: Count Text
Text used with the count of citations within the district */
.districtFilterCountText {
    font-family: sans-serif;
    font-size: 22px;
    pointer-events: none;
}

.bar {
    fill: orange;
  }
  
  .bar:hover {
    fill: green;
  }
  